@using FinalWork_BD_Test.Areas.Admin.Views.Home
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @AdminNavBar.IndexNavClass(ViewContext)" asp-area="Admin" asp-controller="Home" asp-action="Index">Начальная страница</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavBar.AllUsersNavClass(ViewContext)" asp-area="Admin" asp-controller="Home" asp-action="AllUsers">Все пользователи</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavBar.FindUserNavClass(ViewContext)" >Найти пользователя</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavBar.AllRolesNavClass(ViewContext)" >Все роли</a></li>
    <li class="nav-item"><a class="nav-link disabled" >Все рецеденты</a></li>
    <li class="nav-item"><a class="nav-link disabled" >Найти рецедента</a></li>
</ul>
