@page
@model AdditionalInformationModel
@{
    ViewData["Title"] = "Дополнительные сведения";
    ViewData["ActivePage"] = ManageNavPages.AdditionalInformation;
}

<h4>Дополнительные сведения</h4>
<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstNameRP" class="control-label"></label>
                <input asp-for="Input.FirstNameRP" name ="FirstNameRP" class="form-control" />
                <span asp-validation-for="Input.FirstNameRP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SecondNameRP" class="control-label"></label>
                <input asp-for="Input.SecondNameRP" name ="SecondNameRP" class="form-control" />
                <span asp-validation-for="Input.SecondNameRP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MiddleNameRP" class="control-label"></label>
                <input asp-for="Input.MiddleNameRP" name="MiddleNameRP" class="form-control" />
                <span asp-validation-for="Input.MiddleNameRP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstNameDP" class="control-label"></label>
                <input asp-for="Input.FirstNameDP" name="FirstNameDP" class="form-control" />
                <span asp-validation-for="Input.FirstNameDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SecondNameDP" class="control-label"></label>
                <input asp-for="Input.SecondNameDP" name="SecondNameDP" class="form-control" />
                <span asp-validation-for="Input.SecondNameDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MiddleNameDP" class="control-label"></label>
                <input asp-for="Input.MiddleNameDP" name="MiddleNameDP"class="form-control" />
                <span asp-validation-for="Input.MiddleNameDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DegreeId" class="control-label"></label>
                @Html.DropDownList("DegreeId")
                <span asp-validation-for="Input.DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.GenderId" class="control-label"></label>
                @Html.DropDownList("GenderId")
                <span asp-validation-for="Input.GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.EducationFormId" class="control-label"></label>
                @Html.DropDownList("EducationFormId")
                <span asp-validation-for="Input.EducationFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Group" class="control-label"></label>
                <input asp-for="Input.Group" name="Group" class="form-control" />
                <span asp-validation-for="Input.Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.GraduateYear" class="control-label"></label>
                <input asp-for="Input.GraduateYear" name="GraduateYear" class="form-control" />
                <span asp-validation-for="Input.GraduateYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.GraduateSemesterId" class="control-label"></label>
                @Html.DropDownList("GraduateSemesterId")
                <span asp-validation-for="Input.GraduateSemesterId" class="text-danger"></span>
            </div>
	        <div class="form-group">
		        <input type="submit" value="Сохранить" class="btn btn-primary" />
	        </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
