@model FinalWork_BD_Test.Data.Models.Topic
<form id="topic-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Supervisor.UserProfiles">ФИО научного руководителя</label>
        @*Html.DropDownList("SuperVisors")*@
        <span asp-validation-for="Supervisor.UserProfiles" class="text-danger"></span>
        <p><a asp-action="NewSuperVisor">Не нашли научного руководителя?</a></p> </div>
    <button id="update-topic-button" type="submit" class="btn btn-primary">Сохранить</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
