@model FinalWork_BD_Test.Data.Models.VKR
<form id="topic-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Topic.Title"></label>
        <input asp-for="Topic.Title" class="form-control"/>
        <span asp-validation-for="Topic.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SupervisorUP">ФИО научного руководителя</label>
        @Html.DropDownList("UserProfile.Id")
        <span asp-validation-for="SupervisorUP" class="text-danger"></span>
        <p><a asp-action="NewSuperVisor">Не нашли научного руководителя?</a></p> </div>
    <button id="update-topic-button" type="submit" class="btn btn-primary">Сохранить</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
