<h1>DocumentsForms</h1>


@foreach (var documentForm in ViewData["DocumentsFormsDictionary"] as Dictionary<string, string>)
{
    <a asp-controller="Vkr" asp-action="Generate" asp-route-templateName="@documentForm.Value">@documentForm.Key</a><br/>
}
