<h1>MainDocuments</h1>

<form asp-action="UploadDocument" asp-controller="Vkr" method="post" enctype="multipart/form-data">
    Полностью собранная ВКР
    <input type="hidden" name="type" value="Полностью собранная ВКР">
    <input type="file" name="uploadedDocument" />
    <input type="submit" value="Загрузить" />
</form>
