@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-lg-center">
        <a href="https://localhost:44342/Identity/Account/Login">Вход</a>
        <a href="https://localhost:44342/Identity/Account/Register">Регистрация</a>
    </div>
}
else
{
<div class="text-center">
</div>
}
