@model FinalWork_BD_Test.Data.Models.Topic
	<form id="topic-form" method="post">
		<div class="form-group">
			<label asp-for="Title"></label>
			<input asp-for="Title" class="form-control" />
		</div>
			<div class="form-group">
				<label asp-for="Supervisor.SecondNameIP">Фамилия научного руководителя</label>
				<input asp-for="Supervisor.SecondNameIP" class="form-control"/>
			</div>
			<div class="form-group">
				<label asp-for="Supervisor.FirstNameIP">Имя научного руководителя</label>
				<input asp-for="Supervisor.FirstNameIP" class="form-control"/>
			</div>
			<div class="form-group">
				<label asp-for="Supervisor.MiddleNameIP">Отчество научного руководителя</label>
				<input asp-for="Supervisor.MiddleNameIP" class="form-control"/>
			</div>
		<button id="update-topic-button" type="submit" class="btn btn-primary">Сохранить</button>
	</form>