@model FinalWork_BD_Test.Data.Models.Topic
<form id="topic-form" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <button id="update-topic-button" type="submit" class="btn btn-primary">Сохранить</button>
</form>